<!-- news -->
<meta http-equiv='content-type' content='text/html; charset=utf-8' />
<div class="content round_border">
    <!-- status -->
    <div class="main round_border">
        <br>
        <table border=1 width="700px" cellspacing=0 cellpadding=2 bordercolor="#000000">
            <tbody>
            <tr><td width="300"class="tabela"><b>STATUS DA AUTOMAÇÃO DE TESTES</b></td><td class="td_tabela">PORCENTAGEM % de Sucesso</td></tr>
            <tr><td class="tabela"><b>SUCESSO</b></td><td class="td_tabela" bgcolor="#9FF781">NUMSUCESSO</td></tr>
            <tr><td class="tabela"><b>FALHA</b></td><td class="td_tabela" bgcolor="#F78181">NUMFALHA</td></tr>
            <tr><td class="tabela"><b>NÃO EXECUTADOS (IMPACTADOS POR FALHAS)</b></td><td class="td_tabela">NUMOUTROS</td></tr>
            <tr><td class="tabela"><b>OBSERVAÇÕES</b></td><td class="td_tabela">Segue em anexo o log de testes detalhado</td></tr>
            </tbody>
        </table>
        <br>
    </div>

    <div>
        <img src="http://10.230.230.197/imagens/rodape_ft.png" height="110" width="718">
    </div>
</div>
</body>
</html>